// const { off } = require("./src/models/user")

// module.exports = {
//   env: {
//     browser: true,
//     commonjs: true,
//     es2021: true,
//   },
//   extends: [
//     'plugin:react/recommended',
//     'airbnb',
//   ],
//   parserOptions: {
//     ecmaFeatures: {
//       jsx: true,
//     },
//     ecmaVersion: 'latest',
//   },
//   plugins: [
//     'react',
//   ],
//   rules: {
//     "no-underscore-dangle": off,
//     "no-param-reassign": off,
//   }
// }

{
  "extends": [//Пресет с настройками
    "eslint:recommended",
    "plugin:react/recommended"
  ],

  "parser": "babel-eslint",// Парсер для обработки jsx кода

  "env": {// где будет исполняться наш код
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"// Позволяет использовать import/export
  },

  "rules": {
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
  }
}